@use "./variable.scss" as *;

html {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
}

p,
button,
label,
input,
a {
  font-family: $font-primary;
}

.container {
  width: 100%;
  padding: 0 7.5%;
}

::-webkit-scrollbar {
  display: none;
}
