@use "./variable.scss" as *;

.header {
  height: 100vh;
  background-image: url("../public/images/mobile/image-hero.jpg");
  padding-top: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;

  &__links {
    display: none;
  }

  &__button {
    background-color: transparent;
    border: 0;
  }
}

.banner {
  border: 3px solid $color-white;
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;

  &__title {
    font-size: 2.8rem;
    text-transform: uppercase;
    color: $color-white;

    span {
      display: block;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    background-image: url("../public/images/desktop/image-hero.jpg");
    height: 80vh;
  }

  .navbar {
    &__button-wrapper {
      display: none;
    }
    &__links {
      display: flex;
      align-items: center;
    }

    &__link {
      margin-right: 1.5rem;

      :last-of-type {
        margin: 0;
      }
    }
    &__link-anchor {
      color: $color-white;
      text-decoration: none;
    }
  }

  .banner {
    width: 50%;
    left: 7.5%;
    transform: translate(0, -50%);

    &__title {
      font-size: 5.5rem;
    }

    .test {
      display: inline;
      margin-right: 1.5rem;
    }
  }
}
