$color-white: hsl(0deg 0% 100%);
$color-black: hsl(0deg 0% 0%);
$color-grey: hsl(0deg 0% 55%);
$color-dark-grey: hsl(0deg 0% 41%);
$font-primary: "Alata", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$font-regular: 400;
$font-light: 300;
